body {
  margin: 0;
  height: 100vh;
  font-family: 'Comic Sans MS', cursive;
  background: linear-gradient(135deg, #ff9a9e, #fad0c4);
  overflow: hidden;
}

/* Pages */
.page {
  display: none;
  text-align: center;
  padding-top: 40px;
}

.page.active {
  display: block;
}

h1, h2 {
  color: #ff4d6d;
}

/* Photos */
.photos {
  position: relative;
  height: 250px;
  margin: 30px 0;
}

.photo {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  top: 0;
  transition: all 1.2s ease-in-out;
}

.left {
  left: 10%;
}

.right {
  right: 10%;
}

.photos.close .left {
  left: 40%;
}

.photos.close .right {
  right: 40%;
}

/* Boutons */
.buttons {
  position: relative;
  height: 100px;
}

button {
  font-size: 1.3em;
  padding: 15px 30px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  margin: 10px;
}

#yesBtn {
  background-color: #ff4d6d;
  color: white;
}

#noBtn {
  position: absolute;
  background-color: #999;
  color: white;
}

/* Chats */
.cats {
  margin-top: 5px;
}

.cat {
  width: 50px;
  margin: 20px;
  animation: spin 12s linear infinite;
  border-radius: 40px;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.question-box {
  margin-top: 40px;
  font-size: 1.2em;
  color: #ff4d6d;
}

#answers button {
  display: block;
  margin: 10px auto;
}
